/* Home.module.css */

.homeMainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
  background-image: url('https://media.istockphoto.com/id/1205771311/vector/stem-education-concept-seamless-pattern-and-background-with-line-icons.jpg?s=612x612&w=0&k=20&c=IgH0nZmkktFq3qfoLCcPwZqGDrd_4dgO2E1mrL_vI0k=');
}

.homePage {
  text-align: center;
  background-color: #ffffff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.homePage h1 {
  color: #333;
  margin-bottom: 20px;
}

.homePage p {
  color: #555;
  margin-bottom: 30px;
}

.blogButton {
  text-decoration: none;
}

.blogButton button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.blogButton button:hover {
  background-color: #0056b3;
}
